/* BANNER PRINCIPAL */
.bg-initial{
    background-image: url("../images/005.jpg");
    background-repeat: no-repeat, repeat;
    height: 100vh;
}
.button a{
    border: #eb078a;
    background-color: #eb078a;
    border-radius: 5px;
    padding: 0.5em;
    color: white;
}
.button a:hover{
    text-decoration: none;
}
.text{
    color: white;
}
.point{
    color: #eb078a;
}
.text-banner p{
    color: white;
}
.separador{
    border-right: 5px #ffffff solid;
}
.navbar.navbar-light .navbar-nav .nav-item .nav-link{
    color: #ffffff !important;
}
.navbar.navbar-light .navbar-nav .nav-item .nav-link:hover{
    color: #eb078a !important;
}
.navbar .navbar-brand img {
    height: auto !important;
}

#navbar.scrolled{
    background: #eb078a !important;
}
#navbar{
    background: transparent !important;
}

/* SLIDE */

.carousel-multi-item .controls-top .btn-floating{
    background: none !important;
}
.btn-floating i{
    color: #eb078a !important;
}

/* About-us */
.about-us h4{
    color: #eb078a;
}
.trending{
    color: #ffffff;
}
.today{
    color: #eb078a;
}
.trending-text p{
    color: #ffffff;
    margin-left: 1em;
}
.trending-text{
    margin-top: 4em;
}
.img-about img{
    border-radius: 5px;
}

/* Footer */
.copyright p{
    color: #212529b0;
}

